
  /*Start global*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    src:url(fonts/Roboto-Medium.ttf);
    font-family: Roboto;

}

html {
    font-size: 10px;
    font-family: Roboto, sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 46);
}

.planet-container {
    position: fixed;
    width: 250rem;
    height: 80rem;
    background-color: cadetblue;
    top: 70em;
    left: -30rem;
    border-radius: 100%;
    box-shadow: inset 0px 32px 59px 0px rgba(7,0,112,1);
    
}

.answer-container{
    position: relative;
    left: 120rem;
    bottom: 25rem;
    background-color: rgb(0, 0, 58);
    width: 40rem;
    height: 40rem;
    text-align: center;
    line-height: 10rem;
    font-size: 80px;
    overflow-wrap:break-word;
    word-wrap: break-word;
}

.answer-container h3{
    font-size: 40px;
    position: relative;
    top: 20rem;
    
}

.object-container{
        position: relative;
        left: 40rem;
        top: 15rem;
        background-color: rgb(0, 0, 58);
        width: 40rem;
        height: 40rem;
}

.arrow-buttons{
    position: fixed;
    top: 30rem;
    z-index: 100;
}

.left-arrow, .right-arrow{
    width: 50px;
    height: 50px;
    transition: .5s;
    float: left;
    box-shadow: -2px 2px 0 rgba(255, 241, 241, 0.5);
    cursor: pointer;

}

.left-arrow:hover, 
.right-arrow:hover{
    transition: .5s;
    float: left;
    box-shadow: -2px 2px 0 rgb(255, 255, 255);
}


.left-arrow{
    transform: rotate(45deg);
    position: relative;
    right: 10rem;
    top: 4rem;
}
.right-arrow{
    transform: rotate(225deg);
    position: relative;
    left: 40rem;
    top: 4rem;
}

.not-active{
    font-size: 150px;
    position: relative;
    left: 12rem;
    top: 12rem;
    z-index: -10;
    display: none;
}

#active{
    z-index: 10;
    display: flex;
    font-size: 200px;
    position: relative;
    left: 9rem;
    top: 10rem;

}

.icon-container i{
    display: none;
}


